<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Movimientos</title>
</head>
<body style="background-color:#E7F6F2";>

<div class="container mt-3">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/empresasweb}">Empresas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/empleadosweb}">Empleados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/movimientosweb}">Movimientos</a>
        </li>
    </ul>
</div>

<div class="container mt-3">
    <h2>Lista de movimientos</h2>
    <hr>
    <div>
        <table class="table table-md-responsive table-striped">
            <thead>
            <tr class ="bg-dark text-white">
                <th scope="col">ID</th>
                <th scope="col">Concepto</th>
                <th scope="col" class="text-right">Monto</th>
                <th scope="col">Empleado Responsable</th>
                <th scope="col">Fecha</th>
                <th scope="col">Accion</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movimiento: ${movimientos}">
                <td th:text="${movimiento.id}"></td>
                <td th:text="${movimiento.conceptoMov}"></td>
                <td class="text-right" th:text="${#numbers.formatCurrency(movimiento.montoMov)}"></td>
                <td th:text="${movimiento.empleado.nombreEmpleado}"></td>
                <td th:text="${movimiento.fechaActualizacion}"></td>
                <td><a th:href="@{/actualizar-movimiento/{id} (id=${movimiento.id})}" class="btn btn-success btn-sm">Actualizar</a>
                    <a th:href="@{/eliminarmovimiento/{id} (id=${movimiento.id})}" class="btn btn-danger btn-sm">Eliminar</a>  </td>
            </tr>

            </tbody>
        </table>
    </div>
    <hr>

    <div class="row">
        <div class="form-group col-md-12">
            <label class="col-md-3" for="SumaMontos">Total Movimientos:</label>
            <div class="col-md-3 text-right" >
                <p th:text="${#numbers.formatCurrency(SumaMontos)}" class="form-control" id="SumaMontos"></p>
            </div>
        </div>
    </div>

    <hr>
    <a th:href="@{/agregar-movimiento}" class="btn btn-primary btn-sm mb-3">Adicionar nueva movimiento</a>
    <hr>
    <a href="javascript: history.go(-1)" class="btn btn-info btn-sm" role="button">Atrás</a>
</div>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>